.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1200;
}
.modal {
  position: relative;
}

.image {
  max-width: calc(100vw - 48px);
  max-height: calc(100vh - 24px);
}
.btn {
  position: absolute;
  top: 0;
  right: 0;
  background-color: transparent;
  border: transparent;
  color: green;
  outline: transparent;
  &:hover {
    font-size: 25px;
    color: red;
  }
}
